/*
  Remember, to render any changes in these .less files, do:
  rm -r var/view_preprocessed pub/static/frontend/ pub/static/deployed_version.txt
 */

.breeds {
  font-size: 16px;
  font-family: sans-serif;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  display: flex;

  .left {
    padding-left: 5%;
    width: 50%;
    ul {
      columns: 3;
    }
  }

  .right {
    width: 40%;
    img {
      width: 50%;
    }
    ul {
      columns: 3;
    }
  }

  h1, h2, h3 {
    margin: 0 0 4px;
  }

  h1 {
    text-align: center;
    font-size: 48px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 28px;
  }
}

.book{
  width: 100%;
  margin: 0 auto;
  padding: 5px;
  margin-bottom: 20px;
  display: flex;
  border-width: 1px;
  border-style: solid;

  .left {
    width: 60%;
  }

  .right {
    width: 40%;
    img {
      width: 60%;
    }
  }
}